/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: dodgerblue;
    color: black;
}

.dark body {
    background-color: #121212;
    color: azure;
}