/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e2e4dd;
    color: #141610;
}

.dark body {
    background-color: #141610;
    color: #e2e4dd;
}